<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="humidSol">Humidité du sol</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="tempAir">Température</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="humidAir">Humidité de l'air</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="co2">CO2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="pH">pH</a>
           
          </div>

        </li>
      </ul>
    </div>
  </nav>
