<body>
   <h3>Bienvenue sur l'application de gestion de culture intérieure !</h3>

   <h4>Résumé des paramètres actuels : </h4>

   Taux d'humidité du sol : {{humiSol}} % <br>
   Taux d'humidité de l'air : {{humiAir}} %<br>
   Température : {{temperature}} °C<br>
   Taux de CO2 : {{CO2}} ppm<br>
   pH de l'eau : {{pH}}

    <br>
   <img
     src="https://png.pngtree.com/element_our/png_detail/20181229/sprout-plant-graphic-icon-design-template-png_301529.jpg" width="480" height="360" alt="">


</body>
