

<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-8">pH de l'eau d'arrosage</h1>
          <ul class="list-group">


            <h1>pH actuel : {{pHActu}}</h1>

            <h4>Historique : </h4>

            <ngx-charts-line-chart
              [results]="results"
              [scheme]="colorScheme"
              [legend]="legend"
              [legendTitle]="legendTitle"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [timeline]="timeline"
              [xAxisLabel]="xAxisLabel"
              [xAxis]="xAxis"
              [yAxisLabel]="yAxisLabel"
              [yAxis]="yAxis"
              [autoScale]="autoscale"
              [view]="view"
            >



            </ngx-charts-line-chart>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


