

<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-8">Taux de CO2 dans l'air</h1>
          <ul class="list-group">

            <p>
              Taux de CO2 de consigne : {{tauxCO2Consigne}}ppm <br>
              Changer le taux de consigne :
            </p>

            <form [formGroup]="tauxCO2ConsigneForm" (ngSubmit)="changeHumiConsigne(tauxCO2ConsigneForm.value)">

              <div>
                <label for="tauxCO2ConsigneNew">
                  Nouvelle consigne :
                </label>
                <input id="tauxCO2ConsigneNew" type="number" formControlName="tauxCO2ConsigneNew">
                <button class="btn btn-success" type="submit">Envoyer</button>
              </div>



            </form>

            <button (click)="allumerVentilo()" class='btn btn-info'>
              Déclencher une aération
            </button>

            <h1>Taux de CO2 actuel : {{tauxCO2Actu}}ppm</h1>

            <h4>Historique : </h4>

            <ngx-charts-line-chart
              [results]="results"
              [scheme]="colorScheme"
              [legend]="legend"
              [legendTitle]="legendTitle"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [timeline]="timeline"
              [xAxisLabel]="xAxisLabel"
              [xAxis]="xAxis"
              [yAxisLabel]="yAxisLabel"
              [yAxis]="yAxis"
              [autoScale]="autoscale"
              [view]="view"
            >



            </ngx-charts-line-chart>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



