

<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-8">Taux d'humidité de l'air</h1>
          <ul class="list-group">

            <p>
              Humidité de consigne : {{humidConsigne}}% <br>
              Changer l'humidité de consigne :
            </p>

            <form [formGroup]="humidConsigneForm" (ngSubmit)="changeHumiConsigne(humidConsigneForm.value)">

              <div>
                <label for="humidConsigneNew">
                  Nouvelle consigne :
                </label>
                <input id="humidConsigneNew" type="number" formControlName="humidConsigneNew">
                <button class="btn btn-success" type="submit">Envoyer</button>
              </div>



            </form>

            <button (click)="allumerVentilo()" class='btn btn-info'>
              Déclencher une aération
            </button>

            <h1>Taux d'humidité actuel : {{humiActu}}%</h1>

            <h4>Historique : </h4>

            <ngx-charts-line-chart
              [results]="results"
              [scheme]="colorScheme"
              [legend]="legend"
              [legendTitle]="legendTitle"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [timeline]="timeline"
              [xAxisLabel]="xAxisLabel"
              [xAxis]="xAxis"
              [yAxisLabel]="yAxisLabel"
              [yAxis]="yAxis"
              [autoScale]="autoscale"
              [view]="view"
            >



            </ngx-charts-line-chart>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


