<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-8">Temperature de l'air dans la box</h1>
          <ul class="list-group">

            <p>
              Température de consigne : {{tempConsigne}}°C <br>
              Changer la température de consigne :
            </p>

            <form [formGroup]="tempConsigneForm" (ngSubmit)="changeTempConsigne(tempConsigneForm.value)">

              <div>
                <label for="tempConsigneNew">
                  Nouvelle consigne :
                </label>
                <input id="tempConsigneNew" type="number" formControlName="tempConsigneNew">
                <button class="btn btn-success" type="submit">Envoyer</button>
              </div>



            </form>



            <button (click)="allumerVentilo()" class='btn btn-info'>
              Déclencher une aération
            </button>

            <h1>Température actuelle : {{tempActu}} °C</h1>

            <h4>Historique : </h4>

            <ngx-charts-line-chart
              [results]="results"
              [scheme]="colorScheme"
              [legend]="legend"
              [legendTitle]="legendTitle"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [timeline]="timeline"
              [xAxisLabel]="xAxisLabel"
              [xAxis]="xAxis"
              [yAxisLabel]="yAxisLabel"
              [yAxis]="yAxis"
              [autoScale]="autoscale"
              [view]="view"
            >



            </ngx-charts-line-chart>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



